/*Menu et Logo */
.main{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  border: 1px solid #000;
  width: 100%;
  background-color:  #a85b5b;
  opacity: 0.87;
}
.menu{
    float: right;
    padding-top: 40px;
    margin-right: 15px;
}
.menu li{
    display: inline-block;
}
.menu a{
    padding: 15px;
    color: #000;
}
.menu a:hover{
    color: #fff;
}


/*Slider test */
.slider{
    background-color: #a85b5b;
    height: 500px;
}
/* News */

.news{
    padding: 15px;
}
.info{
    padding: 0 5px 60px 0px;
}

#myCarousel{
    background-color: #c98585;
    margin-top: 40px;
}

/* Donation */
.donation{
    background-color: #c98585;
    color: #fff;
}
.bloc{
    width: 600px;
    font-size: 20px;
    font-style: normal;
}
img{
    border: none;
}

#map{
  height: 350px;

}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
